# <span style='color:green'> Task 3 : Data Exploration, Data Preprocessing, Topic Modeling and Sentiment Analysis</span>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier

In [5]:
# read the csv file generated from clean_tweets_dataframe.py
df = pd.read_csv("data/clean_processed_tweet_data.csv")

# 3.1 Data Exploration

In [7]:
# display the first 5 rows from our dataset
df.head()

In [8]:
# display dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          22000 non-null  int64
 1   created_at          22000 non-null  object
 2   source              22000 non-null  object
 3   original_text       22000 non-null  object
 4   subjectivity        22000 non-null  float64
 5   polarity            22000 non-null  float64
 6   lang                22000 non-null  object
 7   favorite_count      22000 non-null  int64
 8   retweet_count       22000 non-null  int64
 9   original_author     22000 non-null  object
 10  followers_count     22000 non-null  int64
 11  friends_count       22000 non-null  int64
 12  possibly_sensitive  6191 non-null   object
 13  hashtags            19141 non-null  object
 14  user_mentions       18698 non-null  object
 15  place               12107 non-null  object
dtypes: float64(2), int64(5), object(9)
memory usage: 2.7+ MB

In [10]:
# check null values
df.isna()

,Unnamed: 0,created_at,source,original_text,subjectivity,polarity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
21996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21997,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
21998,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
21999,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True

In [11]:
# shape of the dataframe
df.shape

(22000, 16)

In [12]:
# show columns of the dataframe
df.columns

Index(['Unnamed: 0', 'created_at', 'source', 'original_text', 'subjectivity',
       'polarity', 'lang', 'favorite_count', 'retweet_count',
       'original_author', 'followers_count', 'friends_count',
       'possibly_sensitive', 'hashtags', 'user_mentions', 'place'],
      dtype='object')

# 3.2 Data Preprocessing

# 3.3 Topic Modelling

# 3.4 Sentiment Analysis